<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>About</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About this website.</h1>
        <h2>作者</h2>
        <p class="col-md-8 fs-4">Tiffany Tseng</p>
        <h2>Project內容</h2>
        <p class="col-md-8 fs-4">
          這是我第一個結合EJS, MongoDB Atlas, Passport.js, Authentication,
          OAuth(Google Login Setup)等功能的網頁。<br />
          您可使用自己的Google帳號登入，並使用Post功能發表小文章。<br />
          您也可以使用本地登入功能，註冊自己的帳號。
        </p>
      </div>
    </div>
  </body>
</html>
